name: Build and Push to ACR

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Docker login (Azure)
        uses: docker/login-action@v3
        with:
          registry: myreg2026.azurecr.io
          username: ${{ vars.AZURE_CLIENT_ID }}
          password: ${{ secrets.AZURE_CLIENT_SECRET }}

      - name: Build and Push to ACR
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Note: Your full image name in Azure is <acr_name>.azurecr.io/<repo_name>
          tags: myreg2026.azurecr.io/flask-docker-app:latest
